.super_user_page_container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    
}
.super_user_page_options_menu{
    width: 300px;
    height: 85vh;
    background-color: darkgrey;
    padding: 15px;
}
.super_user_panel_data{
    width: 100%;
}
.toggle_super_user_options_panel{
    position:fixed;
display: flex;
align-items: center;
justify-content: center;
margin-left: auto;
font-size: 5px;
height: 35px;
opacity: 0.6; 
border-top-right-radius: 50%;
border-bottom-right-radius: 50%;
width: 2px;
top: 47vh;
left: 0;
}

#toggle_super_user_options_panel:hover{
    font-size: medium;
    opacity: 1;
    border: none;
    width: 35px;
    height: 35px;
}
/* to toggle button of opening and closing options panel */
.enabled{
display: none;
}
.options_menu_heading{
    font-weight: bold;
}

.super_user_image{
    /* width: 100px;
    height: 100px; */
    background-color: green;
    border-radius: 50%;
}
.super_user_panel_option_items{
    font-weight: bold;
    margin-top:6px;
}