@tailwind base;
@tailwind components;
@tailwind utilities;
.product_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: green;
    width: 100vw;
    height: 100vh;

}