.footer {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid grey;
}

.footer_link{
    background-color: transparent;
}
.Section {
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.About {
    width: 297px;
    height: 50px;
    display: flex;
    flex-direction: column;
}



.Users {
    width: 297px;
    height: 50px;
    display: flex;
    flex-direction: column;

}


.Bussines {
    width: 297px;
    height: 50px;
    display: flex;
    flex-direction: column;

}

.a {
    text-decoration: none;
    color: #8B8E99;
   width: 297px;
   height: 16px;
  margin:10px; 
  background-color: transparent;  

}