.super_user_panel_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;

}

.super_user_panel_heading{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    justify-content: space-between;
}
.super_user_panel_exit{
width: 25px;
height: 25px;
float: left;

}
.super_user_label{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.super_user_submit_form{
    width: 125px;
    background-color: blue;
    padding: 3px 25px;
    color: white;
    font-size: 25px;

}
.super_user_panel_back_to_roles{
font-size: medium;
}

